# Dependencies
frontend/node_modules/
backend/venv/

# Environment
backend/.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Temp files
~$*
*.tmp

# Tài liệu (không push)
*.docx
*.xlsx
*.drawio
*.bpm
Tai lieu tham khao/
